In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from os import listdir
from os.path import isfile, join

In [2]:
files = [f for f in listdir(os.getcwd()) if isfile(join(os.getcwd(), f))]
files

['datatran2007.csv',
 'datatran2007.rar',
 'datatran2008.csv',
 'datatran2008.rar',
 'datatran2009.csv',
 'datatran2009.rar',
 'datatran2010.csv',
 'datatran2010.rar',
 'datatran2011.csv',
 'datatran2011.rar',
 'datatran2012.csv',
 'datatran2012.rar',
 'datatran2013.csv',
 'datatran2013.rar',
 'datatran2014.csv',
 'datatran2014.rar',
 'datatran2015.csv',
 'datatran2015.rar',
 'datatran2016.rar',
 'datatran2016_atual.csv',
 'datatran2017.csv',
 'datatran2017.zip',
 'datatran2018.csv',
 'datatran2018.zip',
 'datatran2019.csv',
 'datatran2019.zip',
 'datatran2020.csv',
 'datatran2020.zip',
 'total.csv',
 'Untitled.ipynb']

In [5]:
df_2007 = pd.read_csv("datatran2007.csv", sep=';', low_memory=False)

In [6]:
df_2007.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,uso_solo,ano,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
0,10,11/06/2007,Segunda,15:30:00,MG,381,623.2,OLIVEIRA,Falta de atenção,Colisão frontal,...,Rural,2007,9,0,4,0,5,0,4,6
1,10,11/06/2007,Segunda,15:30:00,MG,381,623.2,OLIVEIRA,Falta de atenção,Colisão frontal,...,Rural,2007,9,0,4,0,5,0,4,6
2,1032898,13/08/2007,Segunda,14:25:00,MG,40,585.5,ITABIRITO,Outras,Saída de Pista,...,Rural,2007,3,0,0,1,2,0,1,1
3,1051130,12/02/2007,Segunda,02:10:00,MA,135,11,SAO LUIS,Animais na Pista,Atropelamento de animal,...,Urbano,2007,5,2,2,1,0,0,3,1
4,1066824,20/11/2007,Terça,05:30:00,CE,222,30.8,CAUCAIA,Defeito mecânico em veículo,Capotamento,...,Rural,2007,1,0,1,0,0,0,1,1

In [7]:
df_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127675 entries, 0 to 127674
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      127675 non-null  int64
 1   data_inversa            127675 non-null  object
 2   dia_semana              127675 non-null  object
 3   horario                 127675 non-null  object
 4   uf                      127675 non-null  object
 5   br                      127675 non-null  object
 6   km                      127675 non-null  object
 7   municipio               127675 non-null  object
 8   causa_acidente          127675 non-null  object
 9   tipo_acidente           127675 non-null  object
 10  classificacao_acidente  127675 non-null  object
 11  fase_dia                127675 non-null  object
 12  sentido_via             127675 non-null  object
 13  condicao_metereologica  127675 non-null  object
 14  tipo_pista              127675 non-null  object
 15  tracado_via             127675 non-null  object
 16  uso_solo                127675 non-null  object
 17  ano                     127675 non-null  int64
 18  pessoas                 127675 non-null  int64
 19  mortos                  127675 non-null  int64
 20  feridos_leves           127675 non-null  int64
 21  feridos_graves          127675 non-null  int64
 22  ilesos                  127675 non-null  int64
 23  ignorados               127675 non-null  int64
 24  feridos                 127675 non-null  int64
 25  veiculos                127675 non-null  int64
dtypes: int64(10), object(16)
memory usage: 25.3+ MB

In [10]:
df_2007['municipio'] == 'MANAUS'

0         False
1         False
2         False
3         False
4         False
          ...
127670    False
127671    False
127672    False
127673    False
127674    False
Name: municipio, Length: 127675, dtype: bool

In [14]:
df_manaus_2007 = df_2007[df_2007['municipio'] == 'MANAUS'].copy()
df_manaus_2007

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,uso_solo,ano,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
1112,175459,02/01/2007,Terça,16:00:00,AM,174,9.3,MANAUS,Falta de atenção,Saída de Pista,...,Rural,2007,1,0,1,0,0,0,1,1
1145,175497,02/01/2007,Terça,19:00:00,AM,174,7.9,MANAUS,Outras,Colisão traseira,...,Rural,2007,4,0,0,0,4,0,0,2
1964,176564,07/01/2007,Domingo,16:50:00,AM,174,52.1,MANAUS,Defeito na via,Capotamento,...,Rural,2007,2,0,0,2,0,0,2,1
2931,177902,11/01/2007,Quinta,03:00:00,AM,174,85.8,MANAUS,Outras,Incêndio,...,Rural,2007,1,0,0,0,1,0,0,1
5475,181241,19/01/2007,Sexta,06:50:00,AM,174,3.3,MANAUS,Falta de atenção,Colisão lateral,...,Rural,2007,2,0,0,0,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123890,321582,21/12/2007,Sexta,20:50:00,AM,319,0.6,MANAUS,Ingestão de álcool,Colisão frontal,...,Rural,2007,2,0,1,0,1,0,1,2
125347,323164,29/12/2007,Sábado,19:00:00,AM,174,8,MANAUS,Falta de atenção,Colisão lateral,...,Rural,2007,4,0,0,0,4,0,0,2
125970,323808,31/12/2007,Segunda,16:50:00,AM,174,57,MANAUS,Falta de atenção,Colisão traseira,...,Rural,2007,6,0,2,0,4,0,2,3
126836,336005,02/04/2007,Segunda,17:00:00,AM,174,41,MANAUS,Ingestão de álcool,Saída de Pista,...,Rural,2007,1,0,1,0,0,0,1,1
126909,341246,28/04/2007,Sábado,00:30:00,AM,174,35.2,MANAUS,Outras,Saída de Pista,...,Rural,2007,3,1,1,1,0,0,2,1

In [15]:
df_manaus_2007.drop('id', axis=1, inplace=True)

In [16]:
df_manaus_2007

,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,classificacao_acidente,...,uso_solo,ano,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
1112,02/01/2007,Terça,16:00:00,AM,174,9.3,MANAUS,Falta de atenção,Saída de Pista,Com Vítimas Feridas,...,Rural,2007,1,0,1,0,0,0,1,1
1145,02/01/2007,Terça,19:00:00,AM,174,7.9,MANAUS,Outras,Colisão traseira,Sem Vítimas,...,Rural,2007,4,0,0,0,4,0,0,2
1964,07/01/2007,Domingo,16:50:00,AM,174,52.1,MANAUS,Defeito na via,Capotamento,Com Vítimas Feridas,...,Rural,2007,2,0,0,2,0,0,2,1
2931,11/01/2007,Quinta,03:00:00,AM,174,85.8,MANAUS,Outras,Incêndio,Sem Vítimas,...,Rural,2007,1,0,0,0,1,0,0,1
5475,19/01/2007,Sexta,06:50:00,AM,174,3.3,MANAUS,Falta de atenção,Colisão lateral,Sem Vítimas,...,Rural,2007,2,0,0,0,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123890,21/12/2007,Sexta,20:50:00,AM,319,0.6,MANAUS,Ingestão de álcool,Colisão frontal,Com Vítimas Feridas,...,Rural,2007,2,0,1,0,1,0,1,2
125347,29/12/2007,Sábado,19:00:00,AM,174,8,MANAUS,Falta de atenção,Colisão lateral,Sem Vítimas,...,Rural,2007,4,0,0,0,4,0,0,2
125970,31/12/2007,Segunda,16:50:00,AM,174,57,MANAUS,Falta de atenção,Colisão traseira,Com Vítimas Feridas,...,Rural,2007,6,0,2,0,4,0,2,3
126836,02/04/2007,Segunda,17:00:00,AM,174,41,MANAUS,Ingestão de álcool,Saída de Pista,Com Vítimas Feridas,...,Rural,2007,1,0,1,0,0,0,1,1
126909,28/04/2007,Sábado,00:30:00,AM,174,35.2,MANAUS,Outras,Saída de Pista,Com Vítimas Fatais,...,Rural,2007,3,1,1,1,0,0,2,1