oq entendi kkk
TRABALHO DE VISUALIZAÇÃO DE DADOS

. APRESENTAÇÃO DA EQUIPE

. APRESENTAÇÃO DO DATASET UITILIZADO

. DESCREVENDO O PROBLEMA Ex.: O Rank dos 10 melhores países por produto
	
. DESCREVENDO A SOLUÇÃO	
	- Comparação
	- Relacionamento 
	- Distribuição 
	- Composição
	
	Implementar todos os gráficos ensinados na aula, porém apresentar apenas o que melhor se encaixa na solução.
qualquer coisa não fui eu!

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from os import listdir
from os.path import isfile, join

In [27]:
files = [f for f in listdir(os.getcwd()) if isfile(join(os.getcwd(), f))]
files

['.gitattributes',
 'datatran2007.csv',
 'datatran2008.csv',
 'datatran2009.csv',
 'datatran2010.csv',
 'datatran2011.csv',
 'datatran2012.csv',
 'datatran2013.csv',
 'datatran2014.csv',
 'datatran2015.csv',
 'datatran2016_atual.csv',
 'datatran2017.csv',
 'datatran2018.csv',
 'datatran2019.csv',
 'datatran2020.csv',
 'LICENSE',
 'README.md',
 'Trabalho_Visualização_Dados.ipynb']

In [28]:
df_2007 = pd.read_csv("datatran2007.csv", sep=';', low_memory=False)

In [29]:
df_2007.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,uso_solo,ano,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
0,10,11/06/2007,Segunda,15:30:00,MG,381,623.2,OLIVEIRA,Falta de atenção,Colisão frontal,...,Rural,2007,9,0,4,0,5,0,4,6
1,10,11/06/2007,Segunda,15:30:00,MG,381,623.2,OLIVEIRA,Falta de atenção,Colisão frontal,...,Rural,2007,9,0,4,0,5,0,4,6
2,1032898,13/08/2007,Segunda,14:25:00,MG,40,585.5,ITABIRITO,Outras,Saída de Pista,...,Rural,2007,3,0,0,1,2,0,1,1
3,1051130,12/02/2007,Segunda,02:10:00,MA,135,11,SAO LUIS,Animais na Pista,Atropelamento de animal,...,Urbano,2007,5,2,2,1,0,0,3,1
4,1066824,20/11/2007,Terça,05:30:00,CE,222,30.8,CAUCAIA,Defeito mecânico em veículo,Capotamento,...,Rural,2007,1,0,1,0,0,0,1,1

In [33]:
df_2007.drop(['id','uso_solo','sentido_via','tipo_pista','tracado_via','ano','ignorados','horario','pessoas','veiculos','feridos_leves','feridos_graves','classificacao_acidente'], axis=1, inplace=True)

KeyError: "['id' 'uso_solo' 'sentido_via' 'tipo_pista' 'tracado_via' 'ano'\n 'ignorados' 'horario' 'pessoas' 'veiculos' 'feridos_leves'\n 'feridos_graves' 'classificacao_acidente'] not found in axis"

In [39]:
df_2007 = df_2007[df_2007['municipio'] == 'MANAUS'].copy()

In [40]:
df_2007.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119 entries, 1112 to 126909
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   data_inversa            119 non-null    object
 1   dia_semana              119 non-null    object
 2   uf                      119 non-null    object
 3   br                      119 non-null    object
 4   km                      119 non-null    object
 5   municipio               119 non-null    object
 6   causa_acidente          119 non-null    object
 7   tipo_acidente           119 non-null    object
 8   fase_dia                119 non-null    object
 9   condicao_metereologica  119 non-null    object
 10  mortos                  119 non-null    int64
 11  ilesos                  119 non-null    int64
 12  feridos                 119 non-null    int64
dtypes: int64(3), object(10)
memory usage: 13.0+ KB

In [41]:
df_2007

,data_inversa,dia_semana,uf,br,km,municipio,causa_acidente,tipo_acidente,fase_dia,condicao_metereologica,mortos,ilesos,feridos
1112,02/01/2007,Terça,AM,174,9.3,MANAUS,Falta de atenção,Saída de Pista,Pleno dia,Chuva,0,0,1
1145,02/01/2007,Terça,AM,174,7.9,MANAUS,Outras,Colisão traseira,Anoitecer,Chuva,0,4,0
1964,07/01/2007,Domingo,AM,174,52.1,MANAUS,Defeito na via,Capotamento,Pleno dia,Sol,0,0,2
2931,11/01/2007,Quinta,AM,174,85.8,MANAUS,Outras,Incêndio,Anoitecer,Nevoeiro/neblina,0,1,0
5475,19/01/2007,Sexta,AM,174,3.3,MANAUS,Falta de atenção,Colisão lateral,Pleno dia,Ceu Claro,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123890,21/12/2007,Sexta,AM,319,0.6,MANAUS,Ingestão de álcool,Colisão frontal,Plena noite,Ceu Claro,0,1,1
125347,29/12/2007,Sábado,AM,174,8,MANAUS,Falta de atenção,Colisão lateral,Plena noite,Chuva,0,4,0
125970,31/12/2007,Segunda,AM,174,57,MANAUS,Falta de atenção,Colisão traseira,Pleno dia,Ceu Claro,0,4,2
126836,02/04/2007,Segunda,AM,174,41,MANAUS,Ingestão de álcool,Saída de Pista,Pleno dia,Ceu Claro,0,0,1
126909,28/04/2007,Sábado,AM,174,35.2,MANAUS,Outras,Saída de Pista,Plena noite,Ceu Claro,1,0,2

In [78]:
df_manaus = df_2007[df_2007['municipio'] == 'MANAUS'].copy()
df_manaus

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,uso_solo,ano,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
1112,175459,02/01/2007,Terça,16:00:00,AM,174,9.3,MANAUS,Falta de atenção,Saída de Pista,...,Rural,2007,1,0,1,0,0,0,1,1
1145,175497,02/01/2007,Terça,19:00:00,AM,174,7.9,MANAUS,Outras,Colisão traseira,...,Rural,2007,4,0,0,0,4,0,0,2
1964,176564,07/01/2007,Domingo,16:50:00,AM,174,52.1,MANAUS,Defeito na via,Capotamento,...,Rural,2007,2,0,0,2,0,0,2,1
2931,177902,11/01/2007,Quinta,03:00:00,AM,174,85.8,MANAUS,Outras,Incêndio,...,Rural,2007,1,0,0,0,1,0,0,1
5475,181241,19/01/2007,Sexta,06:50:00,AM,174,3.3,MANAUS,Falta de atenção,Colisão lateral,...,Rural,2007,2,0,0,0,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123890,321582,21/12/2007,Sexta,20:50:00,AM,319,0.6,MANAUS,Ingestão de álcool,Colisão frontal,...,Rural,2007,2,0,1,0,1,0,1,2
125347,323164,29/12/2007,Sábado,19:00:00,AM,174,8,MANAUS,Falta de atenção,Colisão lateral,...,Rural,2007,4,0,0,0,4,0,0,2
125970,323808,31/12/2007,Segunda,16:50:00,AM,174,57,MANAUS,Falta de atenção,Colisão traseira,...,Rural,2007,6,0,2,0,4,0,2,3
126836,336005,02/04/2007,Segunda,17:00:00,AM,174,41,MANAUS,Ingestão de álcool,Saída de Pista,...,Rural,2007,1,0,1,0,0,0,1,1
126909,341246,28/04/2007,Sábado,00:30:00,AM,174,35.2,MANAUS,Outras,Saída de Pista,...,Rural,2007,3,1,1,1,0,0,2,1

In [ ]:
df_manaus.columns

In [79]:
df_manaus.drop(['id','uf','uso_solo','municipio','sentido_via','tipo_pista','tracado_via','ano','ignorados'], axis=1, inplace=True)

In [80]:
df_manaus

,data_inversa,dia_semana,horario,br,km,causa_acidente,tipo_acidente,classificacao_acidente,fase_dia,condicao_metereologica,pessoas,mortos,feridos_leves,feridos_graves,ilesos,feridos,veiculos
1112,02/01/2007,Terça,16:00:00,174,9.3,Falta de atenção,Saída de Pista,Com Vítimas Feridas,Pleno dia,Chuva,1,0,1,0,0,1,1
1145,02/01/2007,Terça,19:00:00,174,7.9,Outras,Colisão traseira,Sem Vítimas,Anoitecer,Chuva,4,0,0,0,4,0,2
1964,07/01/2007,Domingo,16:50:00,174,52.1,Defeito na via,Capotamento,Com Vítimas Feridas,Pleno dia,Sol,2,0,0,2,0,2,1
2931,11/01/2007,Quinta,03:00:00,174,85.8,Outras,Incêndio,Sem Vítimas,Anoitecer,Nevoeiro/neblina,1,0,0,0,1,0,1
5475,19/01/2007,Sexta,06:50:00,174,3.3,Falta de atenção,Colisão lateral,Sem Vítimas,Pleno dia,Ceu Claro,2,0,0,0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123890,21/12/2007,Sexta,20:50:00,319,0.6,Ingestão de álcool,Colisão frontal,Com Vítimas Feridas,Plena noite,Ceu Claro,2,0,1,0,1,1,2
125347,29/12/2007,Sábado,19:00:00,174,8,Falta de atenção,Colisão lateral,Sem Vítimas,Plena noite,Chuva,4,0,0,0,4,0,2
125970,31/12/2007,Segunda,16:50:00,174,57,Falta de atenção,Colisão traseira,Com Vítimas Feridas,Pleno dia,Ceu Claro,6,0,2,0,4,2,3
126836,02/04/2007,Segunda,17:00:00,174,41,Ingestão de álcool,Saída de Pista,Com Vítimas Feridas,Pleno dia,Ceu Claro,1,0,1,0,0,1,1
126909,28/04/2007,Sábado,00:30:00,174,35.2,Outras,Saída de Pista,Com Vítimas Fatais,Plena noite,Ceu Claro,3,1,1,1,0,2,1

In [ ]:
df_manaus.info()

In [ ]:
df_manaus['data_inversa'] = df_manaus['data_inversa'].astype('datetime64[ns, US/Eastern]')

In [ ]:
df_manaus